
eFinance_Process/Output/
eFinance_Process/Tests/CommunicationList.xlsx
*PackageCache.json
*ProjectSettings.json
*.cache
*.props
*.backup
*AllDependencies.json
eFinance_Process/.local/
eFinance_Process/.settings/