
eFinance_Process/Tests/CommunicationList.xlsx
eFinance_Process/.local/
eFinance_Process/.settings/
eFinance_Process/Output/
eFinance_Process/Exceptions_Screenshots
eFinance_Process/Downloads/
/.screenshots